/* src/App.css */
.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.right-buttons button {
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

input[type="checkbox"] {

  transform: scale(1.5);
}
